<h3>以下の内容で、送信する。</h3>

<%= form_with(model: @message, local: true) do |form| %>
  <%= form.hidden_field :content %>
  <p>本文:<%= @message.content %></p>
  <%= form.submit  "登録する", class: "btn btn-default btn-lg btn_green" %>
<% end %>