<div class= "row">
	<div class="col-xs-10 col-xs-offset-1">
		<div class="col-xs-12">
			<h1>Editing Message</h1>
			<%= render 'form', message: @message %>
			<%= link_to 'Show', @message, class: "btn btn-default btn-sm btn_black" %> 
			<%= link_to 'Back', messages_path, class: "btn btn-default btn-sm btn_black" %>
		</div>
	</div>
</div>