<div class= "row">
	<div class="col-xs-10 col-xs-offset-1">
		<div class="col-xs-12">
			<p id="notice"><%= notice %></p>
			<p>
				<strong>Content:</strong>
				<%= @message.content %>
			</p>

			<%= link_to 'Edit', edit_message_path(@message), class: "btn btn-default btn-sm btn_black" %> 
			<%= link_to 'Back', messages_path, class: "btn btn-default btn-sm btn_black" %>
		</div>
	</div>
</div>