@keyframes typing { from { width: 0; } }
@keyframes caret { 50% { border-color: transparent; } }

.welcome h1 {
margin-top: 100px;
text-align: center;
font-family: monospace; 
width: 15ch;
border-right: .08em solid;
overflow: hidden;
font-size: 4em;
white-space: nowrap;
animation: typing 5s steps(15, end), caret .5s step-end infinite;
}

